<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://unpkg.com/vue"></script>
	<script src="http://momentjs.com/downloads/moment.min.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			vue();
		});

		// handle websocket connection to backend
		function createWebSocket(onmessage, onopen) {
			var ws = new WebSocket("ws://localhost:5000/ws");
			ws.onmessage = onmessage;
			ws.onopen = onopen;
			ws.onclose = function(event) {
				console.log("closed, restarting");
				setTimeout(function() {
					createWebSocket(onmessage, onopen);
				}, 1000);
			}
		}

		// set up vue to display the data
		function vue() {
			var app = new Vue({
				el: ".app",
				data: {
					data: "hey",
					branches: []
				},
				created: function() {
					var vue = this;
					var onmessage = function(event) {
						var branches = JSON.parse(event.data);
						while (vue.branches.length > 0) {
							vue.branches.pop();
						}
						for (var branch of branches) {
							vue.branches.push(branch);
						}
					}
					var onopen = function(event) {
						var ws = event.target;
						var repo = window.location.pathname.substr(1);
						var msg = {command: "subscribe", data: {repo: repo}};
						ws.send(JSON.stringify(msg));
					}
					createWebSocket(onmessage, onopen);
				},
				filters: {
					relativeTime(time) {
						return moment(time).fromNow();
					}
				}
			});
		}
	</script>
	<style>
		.branches {
			padding-top: 1rem;
			background-color: #f7f7f7;
		}
		.failure {
			background: #B40404;
		}
		.success {
			background: #088A08;
		}
		footer {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		footer p {
			margin-bottom: .25rem;
			line-height: 30px;
		}
	</style>
</head>
<body>
<div class="app">
	<nav class="navbar navbar-light">
		<h1 class="navbar-brand mb-0">RepoStatus</h1>
	</nav>
	<div class="branches bg-light">
		<div class="container-fluid card-columns">
			<div class="card" v-for="branch in branches" v-if="branch.state" v-bind:class="{ 'bg-danger text-white': branch.state === 'failure', 'bg-success text-white': branch.state === 'success' }">
				<div class="card-block">
					<h3 class="card-title">
						{{ branch.name }}
					</h3>
				</div>
				<div class="card-block">
					<p class="card-text" v-if="branch.state === 'success'">Success ({{ branch.last_updated | relativeTime }})</p>
					<p class="card-text" v-if="branch.state === 'failure'">Failed ({{ branch.last_updated | relativeTime }})</p>
					<p class="card-text" v-if="branch.state === 'pending'">Pending</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="text-muted text-center">
		<div class="container">
			<p>RepoStatus is <a href="https://github.com/kochman/repostatus">open source</a>.</p>
		</div>
	</footer>
</div>
</body>
</html>

